@charset "UTF-8";
@font-face {
    font-family: 'cinzelregular';
    src: url('cinzel-regular-webfont.eot');
    src: url('cinzel-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('cinzel-regular-webfont.woff2') format('woff2'),
         url('cinzel-regular-webfont.woff') format('woff'),
         url('cinzel-regular-webfont.ttf') format('truetype'),
         url('cinzel-regular-webfont.svg#cinzelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'discoregular';
    src: url('disco___-webfont.eot');
    src: url('disco___-webfont.eot?#iefix') format('embedded-opentype'),
         url('disco___-webfont.woff2') format('woff2'),
         url('disco___-webfont.woff') format('woff'),
         url('disco___-webfont.ttf') format('truetype'),
         url('disco___-webfont.svg#discoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'benthamregular';
    src: url('bentham-webfont.eot');
    src: url('bentham-webfont.eot?#iefix') format('embedded-opentype'),
         url('bentham-webfont.woff2') format('woff2'),
         url('bentham-webfont.woff') format('woff'),
         url('bentham-webfont.ttf') format('truetype'),
         url('bentham-webfont.svg#benthamregular') format('svg');
    font-weight: normal;
    font-style: normal;


}
@font-face {
    font-family: 'existencelight';
    src: url('existence-light-webfont.eot');
    src: url('existence-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('existence-light-webfont.woff2') format('woff2'),
         url('existence-light-webfont.woff') format('woff'),
         url('existence-light-webfont.ttf') format('truetype'),
         url('existence-light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;


}
body
{
background-color: RGB(250, 250, 250);

}
        h1 {
            font-family: 'discoregular';
            text-align: center;
        }
        h2 {
            font-family: 'discoregular';
            text-align: center;
        }
	      h3 {
		        font-family: 'discoregular';
            font-weight:;
	      }
	p {
		font-family: 'existencelight';
		font-size: 18px;
		text-align: center;
	}
	.words {
    	max-width: 900px;
    	padding-left: 5px;
    	padding-top: 5px;
    	padding-right: 5px;
    	padding-bottom: 5px;
    	margin-left: auto;
    	margin-right: auto;
  	}
	
	.container {
		width: 50%;
		margin: 30px auto;
		overflow: hidden;
	}
	
	.article {
		float: left;
		margin-right: 50px;
	}
	
        .imageblock {
            margin-left: auto; 
            margin-right: auto; 
            display: block; 
        }
        #article_container
        {
            /*margin: 1em 5%;*/
            border: 0;
            /*background-position: right;*/
			      max-width:;
        }
        #blurb {
            width: 600px;
			align-content: center;
        }
		.textblockcenter {
			text-align: left;
			margin-left: auto; 
			margin-right: auto; 
			max-width: 800px;
		}
        #blurb p { 
            margin-left: auto; 
			margin-right: auto; 
			width: 100%;
            text-align: center;
            max-width: 800px;
		    }

        #content {
            padding-top: 1em;
        	}
        #content h2 { 
			      margin-top: 0;
		    }


    .container a {
        color: rgb(65,117,151);
    }
    .container a:hover {
        color: rgb(0,0,0);
    }
.tagline {
         font-family: 'existencelight';

}
.tagline h1 {
         color: white;
         font-family: 'existencelight';
}
.banner {
        background-color: rgb(0,0,0);
        padding: 25px;
        color: white;
  }
.banner h1{
        color: white;
        font-family: 'existencelight';
}
.header {
margin-left: auto;
margin-right: auto;
display: block;
max-width: 100%;

}
.nav_bar {
text-align:center;
width: 100%;
position: relative;

}
.nav_bar a {
color: RGB(65, 117, 151);
text-decoration: none;

}
.nav_bar a:hover {
	color: #000000;
	text-decoration: none;

}
.nav_bar ul {
        list-style: none;
        position:relative;
        display: inline-block;
        float: none;

}
.nav_bar li {
	font-family: 'discoregular';
	font-size:20px;
	text-align:center;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-top: 10px;
	border:hidden;
	background-color: RGB(223, 223, 223);
	margin: 5px

}
h2.intro {
        padding-bottom: 20px;
}
.video-container {
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: block;
	min-width: auto;
    width:;
}
.text {
font-family: 'existencelight';
font-size:24px;
text-align:center;
}
hr {
    font-family: 'discoregular';
    font-size: 20px;
    padding: 0;
    border: none;
    border-top: medium double #333;
    text-align: center;
}
hr.style-one:after {
    content: "Our Story";
    display: inline-block;
    position: relative;
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: rgb(250,250,250);
}
hr.style-two:after {
    content: "Our Mission";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: rgb(250,250,250);
}
.img
{
  height: 300px;
  margin:20px;
  border: 10px solid white;
}
.box1
{
  height: 100px;
  width: 400px;
  color: gray;
  text-align: justify;
  padding:15px;
  font-family: tahoma;
  border-radius: 3px;
  border-top: 2px solid #C0C2C3;
  border-bottom: 2px solid #C0C2C3;
  line-height: 25px;
}
table
{
  text-align: center;
  background-color: RGB(250, 250, 250);

}
#gray
{
  width: 100%;
  color: white;
  background-color:RGB(223, 223, 223);
  padding-top:10px;
  margin-top: 40px;
  height: 800px;
}
table#team
{
  background-color: RGB(223, 223, 223);
  color:gray;
}
.contact
{
  font-size: 20px;
}
input.contactus
{
  width:500px;
  height: 30px;
  margin-bottom: 20px;
}
form#contact
{
  font-weight: bold;
  color: #808074;
  text-align: left;
  width: 500px;
  margin: auto;

}
input[name="send"]
{
  width: 150px;
  height: 30px;
  background-color: #7AA3CC;
  color: white;
  font-weight:bold;
  font-size: 17px;
  border: 1px solid #7AA3CC;
  margin-top: 20px;
}
textarea#body
{
  height:400px;
  width: 500px;
  resize:none;
  overflow: auto;
}
#main_container
{
  overflow: auto;
  min-height: 1100px;
}
#ourteam
{
  color:gray;
}
hr.rule {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    width: 700px; 
}
div#contact_info
{
  position: relative;
  bottom:130px;
  left: 50px;
}
ul#contact_us
{
  list-style: none;
}
ul#contact_us li
{
  list-style: none;
  height: 80px;
  color: orange;
  width: 200px;
  font-size: 15px;
  font-weight: bold;
  border-bottom: 1px solid #E0C8BB;
  margin-top: 20px;
  padding: 0;
}
#table1
{
  margin:auto;
  width: 1000px;
  position: relative;
  left: 200px;
}
.button {
	float: right;
	display: inline-block;
}
.footer {
  background-color: rgba(0, 0, 0, .2);
  position:;
  left: 0px;
  height: 50px;
  max-width: 100%;
}
